/* ==================================================
   General Layout
================================================== */

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    position: relative
}

/* ==================================================
   Default Typography
================================================== */

h1
{
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    margin: auto;
}
    a:hover {
        text-decoration: none;
        color: #FFF;
    }

i.fa {
    font-size: 85px;
    padding: 10px 0;
    color: #D5D5D5;
    margin: auto;
}

hr {
    color: #000;
}

::selection
{
    background: #63913D;
    color: #FFF;
}
::-moz-selection
{
    background: #63913D;
    color: #FFF;
}

.s-header {
    /*background-color: #61686B;
    color: #FFF;*/
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.s-header label {
    padding: 5px;
    margin: 0;
}

th.text-center {
    /*background-color: #7A7A7A;*/
    /*color: #FFF;*/
}

td {
    text-align: center;
    height: 56px;
    margin: auto;
}

.stretch {
    padding: 0;
    height: 100%;
}

/* ==================================================
   General Layout Styles
================================================== */

.vertical-center
{
    min-height: 100%;  /* Fallback for vh unit */
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    /* In legacy web browsers such as Firefox 9
    we need to specify the width of the flex container */
    width: 100%;
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
    hence the bootstrap's container won't be aligned to the center anymore.
    Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}
.fullwidth
{
    width: 100%;
    padding: 40px 30px;
    min-width: 280px;
}
.fullwidth .bodycontainer
{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}
.carousel-indicators li
{
    width: 15px;
    height: 15px;
    background-color: #C8FB49;
}
.carousel-indicators:active
{
    width: 20px;
    height: 20px;
    background-color: #FF6600;
}
.center
{
    display: block;
    margin: 0 auto;
    text-align: center;
}

#company-name {
    color: #63913D;
}

.bg {
    display: block;
    width: 100%;
    max-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

/* ==================================================
   Navbar
================================================== */

.navbar-inverse {
    background-color: rgba(0,0,0,0.75);
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #000;
}

.navbar-toggle {
    margin: 0 15px 25px 0;
}

.navbar-nav>li:hover {
    color: #FD9348;
    font-size: 1.5em;
}

li>h2 {
    color: #63913D;
}
/* standard navbar */
@media (min-width: 768px) {
    #full-logo {
        display: inline-block;
    }
    #mobile-logo {
        display: none;
    }
    .dropdown:hover .dropdown-menu {
        background-color: rgba(0,0,0,075);
        display: block;
        margin-top: 0;
    }
        .dropdown-menu>li>a {
            color: #FFFFFF;
        }
}

/* mobile navbar */
@media (max-width: 767px) {
    .navbar-collapse {
        min-height: 400px;
    }
    #full-logo {
        display: none;
    }
    #mobile-logo {
        display: inline-block;
        padding: 10px 0 5px 0;
    }
}

@media (min-width: 768px){
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 5px 25px;
        font-size: 18px;
        line-height: 20px;
    }
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
    }
    .navbar-nav>li {
        display: table-cell;
        text-align: center;
    }
}
@media (max-width: 768px){
    .navbar-header {
        margin-top: -50px;
    }
    .nav>a {
        padding: 10px;
    }
    /*.collapse {
        min-height: 330px;
    }*/
}

/* ==================================================
   Top Container
================================================== */

.bg-image {
    position: relative;
}

.bg-image img {
    display: block;
    width: 100%;
    max-height: 1000px;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.bg-image h2 {
    position: absolute;
    text-align: center;
    color: white;
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    .bg-image img {
        display: block;
        width: 100%;
        height: 665px;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
    }
    .bg-image h2 {
        top: 50%;
        left: 0;
        right: 30%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .bg-image img {
        height: 1220px;
    }
    .bg-image h1 {
        text-align: center;
        font-size: 1.25em;
        top: 20%;
        color: white;
    }
    .bg-image h2 {
        font-size: 1.25em;
        top: 82%;
        left: 0;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .bg-image img {
        height: 840px;
    }
    .bg-image h1 {
        text-align: center;
        font-size: 2.25em;
        top: 20%;
        color: white;
    }
    .bg-image h2 {
        font-size: 2.75em;
        top: 75%;
        left: 0;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .bg-image img {
        height: 975px;
    }
}

#mower {
    width: 350px;
}

/* ==================================================
   Services
================================================== */

.jumbotron {
    margin-bottom: 0;
}

#services {
    background-color: #FFFFFF;
}

#services-nav {
    background-color: #63913D;
    margin: 0px;
}

@media (min-width: 767px) {
    #services-links > li {
        width: auto;
    }
}

#services-links>li {
    padding: 15px 0;
}

#services-links>li>a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
}
    #services-links>li>a:hover {
        color: #BED73D;
    }

#services-logo {
    display: block;
    padding: 10px 0;
    height: 105px;
    margin: 0 auto;
}

.darken {
    background-color: #4A7824;
}
    .darken:hover {
        background-color: #305E0A;
    }

.hover-hide>a>p {
    display: none;
}
    .hover-hide:hover i {
        display: block;
        font-size: 55px;
        padding: 3px 0;
    }
    .hover-hide:hover p {
        display: block;
    }
    
h1.title {
    color: #664420;
    text-decoration: underline;
    -moz-text-decoration-color: #BED73D; /* Code for Firefox */
    text-decoration-color: #BED73D;
    -webkit-text-decoration-color: #BED73D;
}

.word-art {
    display: inline-block;
    width: 50px;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

/* ==================================================
   Landscaping
================================================== */

.landscaping h2 {
    font-size: 50px;
}
.landscaping li {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
    color: #4A7824;
}

/* ==================================================
   About
================================================== */

.testimonials {
    padding-top: 100px;
    /*background-image: url("../media/trees.png");*/
}
#badge {
    display: block;
    text-align: center;
    margin: 0 auto;
}

@media only screen
and (max-width : 768px) {
    #badge {
        width: 75%;
        margin: -75px auto 0 auto;
    }
}

.btn {
    display: block;
    padding: 20px;
    background-color: #4A7824;
    color: #FFF;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}
    .btn:hover {
        background-color: #305E0A;
        color: #FFF;
    }

/* ==================================================
   Photos
================================================== */

.mosaicflow__column {
    float: left;
}
.mosaicflow__item img {
    display: block;
    width: 100%;
    height: auto;
}

/* ==================================================
   Footer
================================================== */

#grass {
    background-color: #EEE;
    background-repeat: repeat-x;
    height: 300px;
    margin-top: -30px;
}

#grass-title {
    background-color: #8BC53D;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 100px 0;
}

.grass-black {
    background: linear-gradient(#8BC53D, #1B1D1D);
}

#transition {
    height: 5em;
}

.black {
    background-color: #1B1D1D;
}

.roots h2 {
    color: #8BC53D;
}

.roots ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.roots a {
    font-size: 1.4em;
    color: #AAAAAA;
}
    .roots a:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }
