html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    position: relative
}

/* ==================================================
   Default Typography
================================================== */

h1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    margin: auto;
}
a:hover {
    text-decoration: none;
    color: #FFF;
}

i.fa {
    font-size: 85px;
    padding: 10px 0;
    color: #8BC53D;
    margin: auto;
}

hr {
    color: #000;
}

::selection {
    background: #63913D;
    color: #FFF;
}
::-moz-selection {
    background: #63913D;
    color: #FFF;
}

/* ==================================================
   Layout
================================================== */

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.vertical-center
{
    min-height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}

.tab {
    text-indent: 2em;
}

.hidden {
    display: none;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
}

.jumbotron {
    padding-top: 70px;
    margin-bottom: 0;
}

.fullwidth
{
    width: 100%;
    padding: 40px 30px;
    min-width: 280px;
}

.fullwidth .bodycontainer
{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.pad {
    padding: 0 20px 0;
}

@media (min-width: 767px) {
    .inner {
        max-height: 700px;
        position: relative;
    }
}
@media (min-width: 768px) {
    .inner {
        min-height: 1100px;
        position: relative;
    }
}

/* ==================================================
   Navbar
================================================== */

.navbar-inverse {
    background-color: rgba(0,0,0,1);
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 15px;
    color: #000;
}

.navbar-toggle {
    margin: 0 15px 25px 0;
}

/*Center company logo in navbar*/
.navbar>.container-fluid .navbar-brand {
    margin: 0;
}



li>h2 {
    color: #63913D;
}

/* standard navbar */
@media (min-width: 768px) {
    #full-logo {
        display: inline-block;
    }
    #mobile-logo {
        display: none;
    }
    .dropdown:hover .dropdown-menu {
        background-color: rgba(0,0,0,1);
        display: block;
        margin-top: 0;
    }
    .dropdown-menu>li>a {
        color: #FFFFFF;
    }
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 5px 25px;
        font-size: 18px;
        line-height: 20px;
    }
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
    }
    .navbar-nav>li {
        display: table-cell;
        text-align: center;
    }
    .main-nav li {
        width: 125px;
    }
}

/* mobile navbar */
@media (max-width: 767px) {
    .navbar-collapse {
        min-height: 400px;
    }
    #full-logo {
        display: none;
    }
    #mobile-logo {
        display: block;
        padding: 10px 0 5px 0;
    }
    .navbar-header {
        margin-top: -50px;
    }
    .nav>a {
        padding: 10px;
    }
}

/* ==================================================
   Header
================================================== */

#header {
    padding-top: 180px;
    background: url("../media/field-tree-text.png");
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    min-height: 1000px;
}

#badge {
    display: block;
    text-align: center;
    margin: -30px auto 0;
}

@media only screen
and (max-width : 768px) {
    #badge {
        width: 75%;
        margin: -50px auto 0 auto;
    }
}

#standards {
    text-align: left;
}

#thumbtack {
    background-color: #4A7824;
    border: 0;
    margin: 0 auto;
}
    #thumbtack:hover {
        background-color: #305E0A;
    }

.stars {
    width: 275px !important;
    margin: auto;
}

#stars-left {
    text-align: right;
}

#stars-right {
    text-align: left;
}

#quotation-left {
    text-align: right;
    font-size: 80px;
    font-weight: bold;
    color: #8BC53D;
}

#quotation-right {
    text-align: left;
    font-size: 80px;
    font-weight: bold;
    color: #8BC53D;
}

.owl-dots{
    display: none;
}

/* ==================================================
   Services Navbar
================================================== */

#services {
    background-color: #FFFFFF;
}

#services-nav {
    background-color: #63913D;
    margin: 0;
}

@media (min-width: 767px) {
    #services-links > li {
        width: auto;
    }
}

#services-links>li {
    padding: 15px 0;
}

#services-links>li>a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
}
#services-links>li>a:hover {
    color: #BED73D;
}

#free-quote-logo img {
    display: block;
    padding: 10px 0;
    height: 105px;
    margin: 0 auto;
}
#free-quote-logo:hover img {
    height: 60px;
}

.desaturate img {
    filter: grayscale(100%);
}
.desaturate:hover img {
    filter: grayscale(0%);
}
.desaturate i.fa {
    filter: grayscale(100%);
}
.desaturate:hover i.fa {
    filter: grayscale(0%);
}
.darken {
    background-color: #4A7824;
}
.darken:hover {
    background-color: #305E0A;
}

.hover-hide>a>p {
    display: none;
}
.hover-hide:hover i {
    display: block;
    font-size: 55px;
    padding: 3px 0;
}
.hover-hide:hover p {
    display: block;
}

/* ==================================================
   Popover
================================================== */

.popover{
    width:240px;
    height:160px;
    text-align: center;
}
.popover-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.popover-content {
    font-size: 12px;
}

/* ==================================================
   Lawn Care Parallax
================================================== */

#lawn-care-parallax {
    padding-top: 180px;
    background: url("../media/bg-2.jpg");
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    min-height: 1000px;
}

/* ==================================================
   Pruning Parallax
================================================== */

#pruning-parallax {
    padding-top: 180px;
    background: url("../media/pruning2.png");
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    min-height: 1000px;
}

/* ==================================================
   Edging Parallax
================================================== */

#edging-parallax {
    padding-top: 180px;
    background: url("../media/edging2.png");
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    min-height: 1000px;
}

/* ==================================================
   Clean Up Parallax
================================================== */

#clean-parallax {
    padding-top: 180px;
    background: url("../media/forest.jpg");
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    min-height: 1000px;
}

/* ==================================================
   Photos
================================================== */

.mosaicflow__column {
    float: left;
}
.mosaicflow__item img {
    display: block;
    width: 100%;
    height: auto;
}

/* ==================================================
   Footer
================================================== */

#footer {
    background: url("../media/grass.png");
    background-repeat: repeat-x;
    height: 300px;
    margin-top: -30px;
}

#grass-title {
    background-color: #8BC53D;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 100px 0;
}

.grass-black {
    background: linear-gradient(#8BC53D, #1B1D1D);
}

#transition {
    height: 5em;
}

.black {
    background-color: #1B1D1D;
}

.roots h2 {
    color: #8BC53D;
}

.roots ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.roots a {
    font-size: 1.4em;
    color: #AAAAAA;
}
.roots a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
